<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>

    <link th:href="@{/styles/register_style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

    
    <div id="main_container">

        <h1>Register</h1>
        <div id="form_container">

          

            <form th:object="${user}">
                <div class="formItems">


                    <label for="username" >User Name:</label>
                <input type="text" name="username" th:field="*{username}" th:classappend="${#fields.hasErrors('username') ? 'error':''}">
                </div>

                

                <div th:each="e : ${#fields.errors('username')}" th:text="${e}"></div>
 <div class="formItems">
                <label for="password">Password:</label>
                <input type="password" name="password" th:field="*{password}" >

                <!--<label for="profileimage" >Profile Picture:</label>

                <input type="file" accept="image/*" name="profileimage" th:field="*{profileimage}"> --> 
                
            </div>

        <div class="formItems">
                <label for="fullname" >Full Name:</label>
                <input type="text" name="fullname" th:field="*{fullname}">

            </div>
        <div class="formItems">
                <input id="submitButton" type="button" value="Register">
            </div>
            </form>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/register_user.js}"></script>

</body>
</html>