body{
    background-color: white;
    
}

#main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height:100vh;
    width:100vw
}

#form_container{
    border: 1px solid black;
    height:400px;
    width: 200px;
    padding:20px;
}



.error{
    border:1px solid red;

}